.col-xs-12.project-box
  .col-xs-12.col-sm-3.col-md-2
    =link_to project_path(p.project) do
      =image_tag(p.project.thumbnail) 
  .col-xs-12.col-sm-9.col-md-10
    .col-xs-12.project-box-header
      %h2
        %span.pretitle
          PROJECT:
        =link_to p.project.title, project_path(p)
    .col-xs-12
    %ul.list-unstyled.project-box-list
      %li PROJECT MANAGERS:
      %li DOCUMENTS: #{p.project.documents.length}
      %li MEMBERS: #{p.project.stakeholders.length}
      %li LAST ACTIVITY:
      %li NEXT ACTION DATE:
  .col-xs-12
    %table.table.table-striped
      -p.project.documents.each do |d|
        %tr
          %td
            = link_to doc_title(d), project_document_url(p.project,d)
          %td.view-link
            = link_to pdfjs.full_path(file: document_url(d)) do
              -filetype_icon(d.file_content_type)
