- provide(:title, 'DASHBOARD')
.container
  .row.row-eq-height
    .col-sm.12.col-md-10.col-md-push-2.primary
      .title
        %h1
          DASHBOARD
      .primary-content
        .col-xs-12.col-md-9
          -unless @assets.empty?
            .project-panel
              %h4
                %i.fa.fa-sitemap
                PROJECTS
              -@assets.each do |p, docs|
                = render partial: 'shared/project_box', locals: {p: p, docs: docs}
        .col-xs-12.col-md-3
          -unless @assets.empty?
            .doc-panel
              %h4
                %i.fa.fa-file-text
                RECENT DOCUMENTS
              = render partial: 'shared/doc_box'
    =render 'shared/left_sidebar'
