- provide(:title, 'DASHBOARD')
.container
  .row.row-eq-height
    .col-sm.12.col-md-10.col-md-push-2.primary
      .title
        %h1
          DASHBOARD
      .primary-content
        .col-xs-12.col-md-9
          -if @projects.exists?
            .project-panel
              %h4
                %i.fa.fa-sitemap
                PROJECTS
              - @projects.each do |p|
                = render partial: 'shared/doc_table', locals: {p: p}
        .col-xs-12.col-md-3
          -if @documents.exists?
            .doc-panel
              %h4
                %i.fa.fa-file-text
                RECENT DOCUMENTS
              = render partial: 'doc_boxes'
    =render 'shared/left_sidebar'
