- provide(:title, 'DASHBOARD')
.container
  .row.row-eq-height
    .col-sm.12.col-md-10.col-md-push-2.primary
      .title
        %h1
          DASHBOARD
      .primary-content
        -if @projects.exists?
          - @projects.each do |p|
            = render partial: 'project_boxes', locals: {p: p}
        -if @documents.exists?
          = render partial: 'doc_boxes'
    =render 'layouts/left_sidebar'
