- @project_id = @folder.project_id || project_id
.container
  .row
    .col-sm-12
      %h2 ADD FOLDER
      = simple_form_for(@folder) do |f|
        .form-inputs
          = f.hidden_field :project_id, value: @project_id
        .form-inputs
          = f.input :title
        .form-actions
          = f.button :submit
