.sidebar-box.project
  %ul.list-unstyled
    %li
      = link_to image_tag(@project.thumbnail), edit_project_path(@project)
    %h2
      %li.username= link_to @project.title, edit_project_path(@project)
    %li
      Documents: 
      = @documents.length
    %li
      Members: 
      = @project.stakeholders.length


