.sidebar-box.members.panel.panel-default
  .panel-heading.title
    %h2
      %i.fa.fa-users
      MEMBERS
  .panel-body
    .input-group
      %input.form-control{:placeholder => "Search", :type => "text"}
      %span.input-group-addon.search-button
        %i.fa.fa-search
    %br/
    %table.table.table-striped.table-hover
      %tbody
        -@team.memberships.each do |t|
          %tr
            %td
              =link_to image_tag(t.user.avatar, class: 'img-circle'), user_path(t.user)
            %td.member-name
              =link_to t.user.name, user_path(t.user)
              -admin_icon(t)
