.sidebar-box.notifications.panel.panel-default
  .panel-heading.title
    %h2
      NOTIFICATIONS
  .panel-body
    %table.table.table-striped.table-hover
      %tbody
        %tr
          %td 1
        %tr
          %td 1
        %tr
          %td 1
        %tr
          %td 1



