.sidebar-box.members.panel.panel-default
  .panel-heading.title
    %h3
      %i.fa.fa-users
      MEMBERS
  .panel-body
    %table.table.table-striped.table-hover
      -if policy(@project).update?
        %ul.list-inline
          %li edit
      %tbody
        -@project.stakeholders.each do |s|
          %tr
            %td
              =link_to image_tag(s.user.avatar, class: 'img-circle'), user_path(s.user)
            %td.member-name
              =link_to s.user.name, user_path(s.user)
              -admin_icon(s)


