.col-xs-12.doc-box
  - if @folders.exists?
    %ul.list-unstyled
      - @folders.each do |f|
        %li.folder
          =link_to '#' do
            %i.fa.fa-folder
            =f.title
  - @documents.each do |d|
    %ul.list-unstyled
      %li
        %span.doc-meta= d.document.created_at.strftime("%b %d, %Y")
        %span= link_to doc_title(d.document), document_path(d.document)



