- provide(:title, 'DOCUMENTS')
.container
  .row.row-eq-height
    .col-sm.12.col-md-10.col-md-push-2.primary
      .title
        %h1
          DOCUMENTS
      .primary-content
        .col-xs-12
          = link_to "NEW", new_document_path
          -if @documents.exists?
            %table.table.table-striped
              -@documents.each do |d|
                %tr
                  %td
                    %span.doc-meta= doc_meta(d)
                    = link_to doc_title(d), document_path(d)
                  %td
                    %ul.list-inline
                      =doc_toolbar_view(d)
                      =doc_toolbar_download(d)
                      =doc_toolbar_delete(d)
        .col-xs-12.col-md-3
    =render 'shared/left_sidebar'
