- @project ||= false
- provide(:title, 'DOCUMENTS: '+@document.title.upcase)
.container
  .row.row-eq-height
    .col-sm-12.primary
      .title
        %h1
          DOCUMENT:
          =doc_title(@document)
      .description
        - unless @project == false
          PROJECT: 
          =link_to @project.title.upcase, project_path(@project)
        =@document.description
      .edit_link
        - if policy(@document).update?
          =link_to 'Edit', edit_document_path(@document)
      .primary-content
        =doc_meta(@document)


