-breadcrumb :projects
.container-fluid
  .row
    .col-sm-12
      %h4 PROJECTS
      %p= link_to 'New project', new_project_path
      -if @projects.exists?
        %ul.list-unstyled
          - @projects.each do |project|
            = render partial: 'project_list_full', locals: {p: project}
      -else 
        %h3 NO PROJECTS


