- provide(:title, 'PROJECTS')
.container
  .row.row-eq-height
    .col-sm.12.col-md-10.col-md-push-2.primary
      .title
        %h1
          PROJECTS
      .primary-content
        .col-xs-12.col-md-9
          -if @projects.exists?
            .project-panel
              %h4
                %i.fa.fa-sitemap
        .col-xs-12.col-md-3
    =render 'layouts/left_sidebar'


