- provide(:title, 'PROJECTS: '+@project.title.upcase)
.container
  .row.row-eq-height
    .col-sm-12.col-md-10.col-md-push-2.primary
      .title
        %h1
          PROJECT:
          =@project.title.upcase
      .description
        =@project.description
      .primary-content
        .col-xs-12.col-md-9
          -if @documents.exists?
            .project-panel
              %h4
                %i.fa.fa-sitemap
                PROJECTS
              = render partial: 'shared/doc_box', locals: {p: p}
        .col-xs-12.col-md-3
          -if @documents.exists?
            .doc-panel
              %h4
                %i.fa.fa-file-text
                RECENT DOCUMENTS
    =render 'shared/left_sidebar'

