.btn {
  text-transform: uppercase;
  font-family: $font_1, $font_2, $font_3, $font_4;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0;
  color: $black;
  background-color: none;
  border-color: $black;
  &:hover, &:focus, &:active, &.active {
    border-color: $white;
    color: $black;
    background-color: none;
  }
}

.btn-xl {
  padding: 20px 40px;
}

