/* greys */
$light_grey: #ececec;
$lighter_grey: #fbfbfb;
$lightest_grey: #fdfdfd;
$grey: #b1b1b1;
$med_grey: #3d3d3d;
$mercury: #e5e5e5;
$dark_grey: #1b1b1b;
$muted_text_dark: #707070;
$muted_text_light: #8a8a8a;
$black_haze: #f6f7f8;
$mine_shaft_50: rgba(50,50,50,.5);
$tapa: #c4c4c4;

$alto: #ddd;
$black: #000;
$black_trans: rgba(0,0,0,.8);
$boston_blue: #428bca;
$casablanca: #f0ad4e;
$chestnut_rose: #d9534f;
$cinnabar: #e74c3c;
$desert_storm: #f8f8f8;
$fern: #5cb85c;
$gallery: #eee;
$goblin: #3d8b3d;
$golden_bell: #df8a13;
$light_blue: #1faeea;
$light_purple: #503569; 
$log_cabin: #222;
$mountain_mist: #999;
$orange: #e72510;
$pink_swan: #bbb;
$purple: #420E35;
$red_90: rgba(254,209,54,.9);
$red: #ca0000;
$red_dark: #ad0404;
$seashell: #f1f1f1;
$tall_poppy: #b52b27;
$viking: #5bc0de;
$wet_asphalt: #225990;
$white: #fff;
$white_2: rgba(255,255,255,.02);
