//fonts
$font_0: Lato;
$font_1: Roboto;
$font_2: Helvetica Neue;
$font_3: Helvetica;
$font_4: sans-serif;

$text-shadow: 0 0 0.6em #000;

h1,h2,h3,h4,h5,h6 {
  font-family: $font_0, $font_1, $font_2, $font_3;
  padding: 0;
  margin: 12px;
  text-transform: uppercase;
}

/* Page titles just under header */ 
h1 {
  font-size: 1.3em;  
  font-weight: 700;
}

/* Lighter class name: *PROJECT*: NAME */ 
span.pretitle {
  color: $muted_text_dark;
}

/* Sidebar-boxes headings: NOTIFICATIONS  */ 
h2 {
  font-size: 1em;
  font-weight: 700;
}

/* Bold header within sidebar-boxes: name in userbox on dash  */ 
h3 {
  font-size: .9em;
  font-weight: 700;
}

/* Header text with shadow to stand out on dark header bg   */ 
h4 {
  font-size: 1.2em;
  text-shadow: $text-shadow; 
}

.text-muted {
  color: $muted_text_light;
}
.text-primary {
  color: $med_grey;
}
.doc-meta {
  color: $muted_text_dark;
  font-size: .85em;
  display: block;
  margin-left: 5px;
}

p {
  font-size: 14px;
  line-height: 1.75;
  &.large {
    font-size: 16px;
  }
}
a {
  outline: 0;
  color: $wet_asphalt;
  &:hover, &:focus, &:active,&.active {
    outline: 0;
    color: $viking;
    text-decoration: none;
  }
}
