html {
  height: 100%;
  body {
    font-size: 90%;
    padding-right:0px !important;
    margin-right:0px !important;
    background-color: $med_grey;
    .container {
      max-width: 1400px;
      padding: 0;
      margin: 0 auto;
      position: relative;
      .row {
        margin: 0;
      }
    }
    #wrapper {
      margin: 0 auto;
    }
  }
}

.primary {
  padding: 0;
  margin: 0;
  background-color: $lighter_grey;
  .title, .breadcrumbs {
    border-bottom: 1px solid $light_grey;
    overflow: auto;
    color: $muted_text_light;
  }
  .breadcrumbs span {
    margin-left: 12px;
    padding: 5px 0;
    font-size: .85em;
  }
  .description {
    max-width: 800px;
    padding: 20px 12px 10px 12px;
  }
  .primary-content {
    padding: 12px 19px;
    overflow: auto;
    [class*='col-'] {
      padding: 0;
    }
  }
}

section {
}

img {
  max-width: 100%;
}

.form-wrapper {
  padding: 10px;
}

ul.list-inline > li {
  display: inline-block;
}

td.view-link {
  text-align: right;
}

@media (max-width: 480px) { 
  .col-xxs {
    display:block;
    float:none;
    width: 100%;
  }
}

// Modals
.modal-content {
  padding: 40px 20px;
}

@include media-breakpoint-up(md) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }
}

