html {
  height: 100%;
  body {
    background-color: $desert_storm;
    height: 100%;
    font-size: 90%;
    padding-right:0px !important;
    margin-right:0px !important;
    #wrapper {
      margin: 0 auto;
      margin-top: 52px;
      max-width: 1400px;
      @media(min-width:768px) {
        position: inherit;
      }
    }
  }
}

section {
  padding: 30px 0;
  &#about {
    background: $purple;
    color: $white;
  }
}

img {
  max-width: 100%;
}

.form-wrapper {
  padding: 10px;
}

ul.list-inline > li {
  display: inline-block;
}

@media (max-width: 480px) { 
   .col-xxs {
     display:block;
     float:none;
     width: 100%;
  }
}

// Modals
.modal-content {
  padding: 40px 20px;
}

.breadcrumbs {
  font-size: .7em;
}
