.container {
  background-color: $black-haze;
  height: 100%;
  .documents {
    padding: 0 5%;
    ul.doc-toolbar {
      width: 100%;
      li {
        display: inline-block;
      }
    }
    ul.dashdocs {
      padding-bottom: 10px;
      margin-top: 10px;
      border-bottom: 1px solid $light-grey;
      > li.icon {
        margin: 10px 15px 0 -20px;
        font-size: 2em;
        float: left;
        clear: both;
      }
      > li.date, > li.filename {
        color: $med_grey;
        font-size: .8em;
      }
    }
    @include media-breakpoint-up(md) {
      border-left: 1px solid $light-grey;
      border-right: 1px solid $light-grey;
    }
  }
  .projects {
    padding: 10px 20px;
    img {
    }
    ul > li {
    }
  }
}
