.document_list {
  background-color: $white;
  padding: 5px;
  margin: 10px;
  overflow: auto;
  height: 100%;
  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    > li {
      &.filename {
        color: $text-muted;
        font-size: .8em;
      }
      &.description {
      }
    }
    &.toolbar {
      float: right;
      display: block;
      > li {
        display: inline;
        padding: 0 10px;
      }
    }
  }
}

.doc-box {
  margin-bottom: 15px;
  .document-toolbar {
    background-color: $mercury;
    height: 40px;
    padding: 10px;
    margin-bottom: -1px;
  }
  ul {
    width: 100%;
    li {
      margin: 3px 10px;
      border-bottom: 1px solid $mercury;
      &.ui-selected {
        background-color: $light-grey;
        font-weight: 700;
      }
    }
  }
}
