.document_list {
  background-color: $white;
  padding: 5px;
  margin: 10px;
  overflow: auto;
  height: 100%;
  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    > li {
      &.filename {
        color: $text-muted;
        font-size: .8em;
      }
      &.description {
      }
    }
    &.toolbar {
      float: right;
      display: block;
      > li {
        display: inline;
        padding: 0 10px;
      }
    }
  }
}

.doc-panel {
  @extend .project-panel;
  overflow: auto;
  .doc-box {
    border: 1px solid $tapa;
    margin-bottom: 15px;
    box-shadow: 0 3px 2px $light_grey;
    table {
        padding: 100px;
      tr > td {
        margin:0;
        padding: 0;
        span.date {
          display: block;
        }
      }
    }
  }
}
