.sidebar-left {
  margin-top: -50px;
  background-color: $light_grey;
  padding: 5px;
  line-height: 1em;
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
  .sidebar-box {
    background-color: $black_haze;
    margin-bottom: 5px;
    .title {
      background-color: $light_grey;
      padding: 2px;
    }
    &.user, &.project {
      display: none; 
      font-family: $font_3;
      font-size: .85em;
      text-align: center;
      padding-bottom: 10px;
      color: $muted_text_dark;
      img {
        margin: 0 auto;
        display: block;
        padding: 2% 2% 10px 2%;;
        width: 98%;
      }
      @include media-breakpoint-up(md) {
        display: block;
      }
      ul {
        h3 {
          margin: 0;
        }
        li.username {
          font-size: 1.3em;
          padding-bottom: 2px;
          a {
            color: $med_grey;
          }
        }
        li.email {
          padding-bottom: 5px;
        }
      }
    }
    &.project {
      img {
        padding: 5px 3px;
      }
    }
    &.members {
      img {
        width: 30px;
      }
    }
  }
}

