nav.navbar-default {
  max-width: 1400px;
  margin: 0 auto;
  font-family: $font_0, $font_1, $font_3;
  font-weight: 700;
  height: 45px;
  .navbar-brand {
    float: left;
    padding: 0;
    padding-top: 10px;
    margin-right: 0;
    font-size: 1.1em;
    background-color: $orange;
    text-align: center;
    height: 45px;
    a {
      color: $light_grey;
    }
  }
  .navbar-menu {
    background-color: $dark_grey;
    padding-top: 2px;
    height: 45px;
    img {
      height: 40px;
    }
    a {
      color: $orange;
    }
    ul {
      float: right;
      li {
        padding: 0 10px;
        .navtext {
          display: none;
          @include media-breakpoint-up(md) {
            display: inline-block;
          }
        }
        &.active {
          background-color: $med_grey;
        }
        ul.dropdown-menu li {
          padding: 10px;
        }
      }
    }
  }
}
