nav.navbar-default {
  height: 45px;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  font-family: $font_0, $font_1, $font_3;
  .navbar-brand {
    float: left;
    padding: 0;
    padding-top: 7px;
    margin-right: 0;
    font-size: 1.25rem;
    background-color: $orange;
    height: 45px;
    text-align: center;
    a {
      color: $black;
    }
  }
  .navbar-menu {
    background-color: $dark_grey;
    padding-top: 2px;
    overflow: auto;
    img {
      max-height: 40px;
    }
    ul {
      float: right;
      li {
        padding: 0 10px;
        .navtext {
          display: none;
          @include media-breakpoint-up(md) {
            display: inline-block;
          }
        }
      }
    }
  }
}
