.project_page {
  .project-sidebar {
    img {
      max-width: 200px;
      float: left;
      display: block;
      padding: 10px;
    }
  }
}
.project-panel {
  border: 1px solid $grey;
  overflow: auto;
  box-shadow: 0 3px 2px $light_grey;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    margin: 5px;
    overflow: hidden;
  }
  h4 {
    background-color: $med_grey;
    color: $orange;
    height: 45px;
    width: 100%;
    margin: 0;
    padding: 15px 12px;
  }
  .project-toolbar {
    background-color: $mercury;
    height: 40px;
    ul {
      li {
         margin: 3px 10px;
         &.admin {
           border: 2px solid $orange;
           padding: 5px;
           color: $orange;
         }
      }
    }
  }
  .project-box {
    border: 1px solid $tapa;
    margin-bottom: 15px;
    box-shadow: 0 3px 2px $light_grey;
    i.floaticon {
      position: absolute;
      color: $orange;
      font-size: 2em;
      padding: 5px;
      text-shadow: 2px 2px $med_grey;
    }
    .project-box-header {
      background-color: $light_grey;
    }
    ul.project-box-list {
      padding-left: 12px;
      li {
        line-height: 1.3em;
        font-size: .9em;
      }
    }
  }
}


body.modal-open {
  overflow: auto;
}
