.table-striped > tbody > tr:nth-of-type(odd) {
  background: $white;
}

.doc_list {
  .project_title_tbl {
    text-align: center;
    background-color: $mercury;
  }
}

th.center, td.center {
  text-align:center;
}
